@import "../../node_modules/bulma/css/bulma";

div.main-body {
  margin-top: 2em;
}

div.big-number {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

div.disclaimer-inner {
  padding: 25px;
  margin: 5px;
  border: 1px solid #bbbbbb;
}
ul.list {
  list-style: disc;
  padding-left: 15px;
  li {
    margin-top: 10px;
    padding-left: 15px;
  }
}
