<section class="section">

  <nav class="navbar is-fixed-top has-background-dark" role="navigation" aria-label="main navigation">

    <div class="container">

      <div class="navbar-brand">
        <h1 class="title is-1 has-text-white">COVID-19 Progression demo</h1>
      </div>
    </div>
  </nav>
  <div class="container main-body">
    <div class="columns">
      <div class="column">
        <button *ngIf="!showDisclaimer" class="button is-small" (click)="toggleDisclaimer()">
          Show Notes &amp; Disclaimers
        </button>
      </div>
    </div>
    <div class="columns" *ngIf="showDisclaimer">
      <div class="disclaimer-inner column">
        <h2 class="title">Notes &amp; Disclaimers</h2>
        <ul class="list">
          <li>This work is based on a diagram created by Katri Manninen ( <a target="_blank" href="https://twitter.com/katmanninen" rel="nofollow">Engish Twitter</a>, <a target="_blank" href="https://twitter.com/kutrinet" rel="nofollow">Finnish Twitter</a> )
             demonstrating the typical progression of the disease.<br />
            <button *ngIf="!showDiagram" class="button is-small" (click)="showDiagram = true">Show diagram</button>
            <img *ngIf="showDiagram" src="/assets/img/covid-typical-progress.jpeg" />
          </li>
          <li>
            This system does represent my best efforts to accurately model the amount of time taken between stopping
            transmission and cases working through the phases of the disease.
          </li>
          <li>
            The system uses a simple number of cases double every n days "model". While this is ok for ball-parking, it's
            not perfect.
          </li>
          <li>
            The system assumes a "average" distribution of cases amongst the population.
            <ul class="list">
              <li>
                An outbreak in a care home, or a hospital will probably result in disproportionally more deaths
              </li>
              <li>
                An outbreak in a university or a woman's football club will probably result in disproportionally fewer
                deaths.
              </li>
            </ul>
          <li>
            This system makes no claims to accuracy.
          </li>
          <li>
            If you are a professional epidemiologist who is using this, what you should do is use the fact that you
            don't
            have any better tooling to bully your employees to paying up more money for something real. Immediately.
          </li>
          <li>
            Stopping transmissions in the app is as simple as unticking the "Spreading" button. This is not something
            that
            happens in real life. Stopping the spread even with a lockdown is not perfect, and it is also incredibly
            difficult to do.
          </li>
          <li>
            There are some outliers, in covid cases. In this model:
            <ul class="list">
              <li>
                No one dies at home with silent hypoxia
              </li>
              <li>
                Recoveries take a maximum of about 60 days from infection. There have been some cases where a patient
                has been unwell for an extremely long time.
              </li>
              <li>
                The model assumes everyone who falls ill can receive excellent treatment no matter how busy hospitals get.
                This is blatantly untrue, if hospitals are filled to overflowing, everyone suffers.
              </li>
            </ul>
          </li>
          <li>
            One people start recovering or dying in the model, new cases won't quite double every n days.
          </li>
          <li>
            Infections will start to slow down, until, once all of the population has had the infection, there
            will be no more infections. Depending on the initial doubling rate new infections should grind to a halt
            before 100% of the population has been infected. With a doubling rate of 5 days, infections stop once around 83%,
            of the population have been infected. With a doubling rate of 6 days, infections stop at around 76%.
            <a href="https://jamanetwork.com/journals/jama/fullarticle/2769704">I don't think those numbers are ridiculous</a>,
            however: we don't know how long someone will be immune for after they have picked up an infection & the calculation
            is a bit crude. I'm extremely unsure about this part of the tool.
          </li>
          <li>
            Long Covid has not been taken account of in this model - there are a significant number of people with a
            variety of odd symptoms, which seem to last a very long time after the end of a SARS-COV-2 infection.
          </li>
          <li>
            Everyone hopes that as treatments improve, hopefully survivability will continue to improve. There is good
            reason to hope this.
          </li>
          <li>
            I really hope that I have to continue to tweak numbers for this tool as that happens.
          </li>
          <li>
            It uses rounding and fractions of patients. Expect rounding errors in the results.
          </li>
          <li>You can see the source code on <a
            target="_blank"
            href="https://github.com/ryankilf/growth-demo#growth-demo">github</a></li>
        </ul>
        <hr />
        <button class="button is-success" (click)="toggleDisclaimer()">
          Hide Notes &amp; Disclaimers
        </button>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <h2 class="title is-2">Settings</h2>
      <form [formGroup]="settingsForm">
        <div class="field is-vertical">
          <div class="field-label is-normal">
            <label class="label" for="initiallyInfected">Initially Infected</label>
          </div>
          <div class="field">
            <div class="control">
              <input
                [attr.disabled]="started ? '' : null"
                [(ngModel)]="initiallyInfected"
                id="initiallyInfected"
                class="input"
                type="number"
                formControlName="initiallyInfected"
              />
            </div>
          </div>
        </div>

        <div class="field is-vertical">
          <div class="field-label is-normal">
            <label class="label" for="population">Population</label>
          </div>
          <div class="field">
            <div class="control">
              <input
                [attr.disabled]="started ? '' : null"
                [(ngModel)]="population" id="population" class="input" type="number"
                formControlName="population"/>
            </div>
          </div>
        </div>

        <div class="field is-vertical">
          <div class="field-label is-normal">
            <label class="label" for="doublingRate">Doubling Rate (days)</label>
          </div>
          <div class="field">
            <div class="control">

              <input [(ngModel)]="doublingRate" id="doublingRate" class="input" type="number"
                     formControlName="doublingRate"/>
            </div>
          </div>
        </div>

        <div class="field is-vertical">
          <div class="field-label is-normal">
            <label class="label" for="lengthOfDay">Length of Day (in seconds)</label>
          </div>
          <div class="field">
            <div class="control">

              <input
                [attr.disabled]="started && !paused ? '' : null"
                [(ngModel)]="lengthOfDay" id="lengthOfDay" class="input" type="number"
                formControlName="lengthOfDay"/>
            </div>
          </div>
        </div>

        <div class="field is-vertical">
          <div class="control">
            <label class="checkbox" for="spreading">Spreading
              <input [(ngModel)]="spreading" id="spreading" type="checkbox" formControlName="spreading"/>
            </label>
          </div>
          <div class="field">
            <div class="control">

              <label class="checkbox" for="showASymptomatic">show asymptomatic
                <input [(ngModel)]="aSymptomaticOn" id="showASymptomatic" type="checkbox"
                       formControlName="aSymptomaticOn"/>
              </label>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button
            *ngIf="!started"
            class="button is-success" (click)="start()">Start
          </button>
          <button
            *ngIf="started && !paused"
            class="button is-warning" (click)="pause()">Pause
          </button>
          <button
            *ngIf="started && paused"
            class="button is-warning" (click)="continue()">Continue
          </button>
          <button
            *ngIf="started && paused"
            class="button is-danger" (click)="reset()">Reset
          </button>
        </div>
      </form>
      <hr/>
      <button class="button is-small" (click)="toggleProgression()">
        <span *ngIf="showProgression">Hide Progression</span>
        <span *ngIf="!showProgression">Show Progression</span>
      </button>
      <div id="progression-container" *ngIf="showProgression">
        <h2 class="title is-2">Progression</h2>
        <div *ngFor="let stage of stages">
          <hr/>
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{ stage.label }}</p>
            </header>
            <div class="card-content">
              <div *ngIf="stage.complete">
                Final Stage
              </div>
              <div *ngIf="!stage.complete">
                <h2>Progression: Worse</h2>
                Stage: {{stage.getLabelFromNumber(stage.nextStageWorse)}}<br/>
                Chance: {{stage.nextStageWorseChance}}<br/>
                Min Days: {{stage.nextStageMinPeriod}}<br/>
                Peak Days: {{stage.nextStagePeakPeriod}}<br/>
                Max Days: {{stage.nextStateMaxPeriod}}<br/>
                <hr/>
                <h2>Progression: Better</h2>
                Stage: {{stage.getLabelFromNumber(stage.nextStageBetter)}}<br/>
                Chance: {{1 - stage.nextStageWorseChance}}<br/>
                Min Days: {{stage.nextStageBetterMinPeriod}}<br/>
                Peak Days: {{stage.nextStageBetterPeakPeriod}}<br/>
                Max Days: {{stage.nextStateBetterMaxPeriod}}<br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="about">
        <hr />
        <a
          onclick="window.open(this.href); return false;"
          href="https://github.com/ryankilf/growth-demo/blob/main/LICENSE.md">&copy; 2020 Ryan Kilfedder.</a>
      </div>
    </div>
    <div class="column is-three-fifths">
      <div class="tabs is-small is-boxed">
        <ul>
          <li
            [ngClass]="{'is-active' : dailyTotalOn}"
          ><a (click)="showDailyTotal()">Daily Total</a></li>
          <li
            [ngClass]="{'is-active' : changesOn}"
          ><a (click)="showChanges()">Changes</a></li>
        </ul>
      </div>
      <table class="table is-fullwidth is-striped" *ngIf="dailyTotalOn">
        <thead>
        <tr>
          <th>Day</th>
          <th>Rate</th>
          <th>Spreading</th>
          <th *ngIf="aSymptomaticOn">asymtomatic</th>
          <th>Symtomatic</th>
          <th>Hospital</th>
          <th>ICU</th>
          <th>Hospital<br/>(post ICU)</th>
          <th>Recovered</th>
          <th>Dead</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let oneDay of dayTotal.slice().reverse()">
          <td>{{oneDay.day}}</td>
          <td>{{oneDay.doublingRate}}</td>
          <td>{{oneDay.spreading ? 'yes' : 'no'}}</td>
          <td *ngIf="aSymptomaticOn">{{oneDay.asymptomatic | number: '1.0-0'}}</td>
          <td>{{oneDay.symptomatic | number: '1.0-0'}}</td>
          <td>{{oneDay.hospital | number: '1.0-0'}}</td>
          <td>{{oneDay.icu | number: '1.0-0'}}</td>
          <td>{{oneDay.postIcuRecovery | number: '1.0-0'}}</td>
          <td>{{oneDay.recovered | number: '1.0-0'}}</td>
          <td>{{oneDay.dead | number: '1.0-0'}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table is-fullwidth is-striped" *ngIf="changesOn">
        <thead>
        <tr>
          <th>Day</th>
          <th>Rate</th>
          <th>Spreading</th>
          <th *ngIf="aSymptomaticOn">asymtomatic</th>
          <th>symtomatic</th>
          <th>hospital</th>
          <th>icu</th>
          <th>post ICU - Hospital</th>
          <th>recovered</th>
          <th>dead</th>
        </tr>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let oneDay of dayTotal.slice().reverse(); let i = index">
          <td>{{oneDay.day}}</td>
          <td>{{oneDay.doublingRate}}</td>
          <td>{{oneDay.spreading ? 'yes' : 'no'}}</td>
          <td *ngIf="aSymptomaticOn">
            {{oneDay.dayAddition.asymptomatic - oneDay.daySubtraction.asymptomatic | number: '1.0-0'}}</td>
          <td>{{oneDay.dayAddition.symptomatic - oneDay.daySubtraction.symptomatic | number: '1.0-0'}}</td>
          <td>{{oneDay.dayAddition.hospital - oneDay.daySubtraction.hospital | number: '1.0-0'}}</td>
          <td>{{oneDay.dayAddition.icu - oneDay.daySubtraction.icu | number: '1.0-0'}}</td>
          <td>{{oneDay.dayAddition.postIcuRecovery - oneDay.daySubtraction.postIcuRecovery | number: '1.0-0'}}</td>
          <td>{{oneDay.dayAddition.recovered - oneDay.daySubtraction.recovered | number: '1.0-0'}}</td>
          <td>{{oneDay.dayAddition.dead - oneDay.daySubtraction.dead | number: '1.0-0'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <div *ngIf="started">

        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              Day
            </div>
          </div>
          <div class="card-content big-number">
            {{ day }}
          </div>
          <div class="card-footer">
          </div>
        </div>

        <br/>

        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              Dead
            </div>
          </div>
          <div class="card-content big-number">
            {{ today.dead  | number: '1.0-0'}}
          </div>
          <div class="card-footer">
            <div class="card-footer-item">Change:</div>
            <div class="card-footer-item">
              {{ (today.dead - yesterday.dead)  | number: '1.0-0'}}
            </div>
          </div>
        </div>

        <br/>
        <div *ngIf="started && !spreading">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                Dead when spreading stopped
              </div>
            </div>
            <div class="card-content big-number">
              {{ spreadingStoppedDeath  | number: '1.0-0'}}
            </div>
            <div class="card-footer">
              <div class="card-footer-item">Dead Since:</div>
              <div class="card-footer-item">
                {{ (today.dead - spreadingStoppedDeath)  | number: '1.0-0'}}
              </div>
            </div>
          </div>

          <br/>
        </div>

        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              In ICU
            </div>
          </div>
          <div class="card-content big-number">
            {{ today.icu | number: '1.0-0'}}
          </div>
          <div class="card-footer">
            <div class="card-footer-item">Change:</div>
            <div class="card-footer-item">
              {{ (today.icu - yesterday.icu)  | number: '1.0-0'}}
            </div>
          </div>
        </div>

        <br/>

        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              Total In Hospital
            </div>
          </div>
          <div class="card-content big-number">
            {{ today.getTotalHospitalised() | number: '1.0-0'}}
          </div>
          <div class="card-footer">
            <div class="card-footer-item">Change:</div>
            <div class="card-footer-item">
              {{ (today.getTotalHospitalised() - yesterday.getTotalHospitalised())  | number: '1.0-0'}}
            </div>
          </div>
        </div>

        <br/>

        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              Total Ever Infected
            </div>
          </div>
          <div class="card-content big-number">
            {{ totalEverInfected | number: '1.0-0'}}
          </div>
          <div class="card-footer">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
