@import "../../node_modules/bulma/css/bulma";

.force-to-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

div.main-body {
  margin-top: 2em;
}

div.big-number {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

div.worse {
  color: #aa0000;
}

div.better {
  color: #00aa00;
}

div.disclaimer-inner {
  padding: 25px;
  margin: 5px;
  border: 1px solid #bbbbbb;
}
ul.list {
  list-style: disc;
  padding-left: 15px;
  li {
    margin-top: 10px;
    padding-left: 15px;
  }
}
